DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=liga_szkolna

BETTER_AUTH_SECRET=zmien-mnie-na-losowy-ciag-min-32-znakow-xxxxx
BETTER_AUTH_URL=http://localhost:3000

# E-mail pierwszego admina — po rejestracji dostanie rolę 'admin'
ADMIN_EMAIL=admin@szkola.pl
